{% macro nav_item(path, title) %}
  <li class="md-nav__item">
    <a href="{{ path | url }}" class="md-nav__link" title="{{ title }}">{{ title }}</a>
  </li>
{% endmacro %}

{% if lang == "en" %}
  <ul class="md-nav__list" data-md-scrollfix>
    {% for item in extra.en.nav %}
      {{ nav_item(item[1], item[0]) }}
    {% endfor %}
  </ul>
{% elif lang == "ja" %}
  <ul class="md-nav__list" data-md-scrollfix>
    {% for item in extra.ja.nav %}
      {{ nav_item(item[1], item[0]) }}
    {% endfor %}
  </ul>
{% endif %}
